In [ ]:
# load_wine_into_db.ipynb
# The Wine Mart
# Application for 'Koodoo'
# Applicant: Neel Patel
# Email: neel@quarithm.com

In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [17]:
# import Wine records from the CSV file
df = pd.read_csv("Wines.csv")

# How Many rows in the Staging_wines table?

24997 rows before cleaning. 23375 wines with a price

# What is the average price of a bottle of wine?
Average price: $3546.71

# How much is the most expensive wine?

$250000

# What would happen if you deleted a record from DimWinery table?
When retrieving Facts about a particular set of wines, the link between the tables would be lost. The data would be corrupted.

# How could you prevent that deletion from occurring?
A TRIGGER could be used on the SQL server that checks to see if there are any records with the same Winery_Id. If it exists then the deletion is not permitted.

# What process can be used to automate a weekly file download from an SFTP server and then update The Wine Mart from the new file?

- https://www.ftpgetter.com/ 

FTPGetter could be used to schedule downloads of one or more files and then trigger a script - either a batch file or launch a particular software from a command line interface if needed.

# What changes could be made to improve the The Wine Mart design to provide an audit trail of when different wines are added and/or updated?

An audit table could be added to the schema along with TRIGGERs that would add information of who added/deleted/updated a particular record, at what time and other relevant information.

In [18]:
df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,01/01/1919,Spain,Cava,1919 Brut Selecció,88,$13.00,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,01/01/1929,Italy,Vernaccia di San Gimignano,NaN,87,$14.00,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,01/01/1929,Italy,Sangiovese di Romagna Superiore,Prugneto,84,$15.00,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,01/01/1934,Portugal,NaN,Reserva Velho,93,$495.00,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,01/01/1945,France,Rivesaltes,Legend Vintage,95,$350.00,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24997 entries, 0 to 24996
Data columns (total 10 columns):
Vintage        24997 non-null object
Country        24989 non-null object
County         20809 non-null object
Designation    17633 non-null object
Points         24997 non-null int64
Price          23375 non-null object
Province       24989 non-null object
Title          24997 non-null object
Variety        24997 non-null object
Winery         24997 non-null object
dtypes: int64(1), object(9)
memory usage: 1.9+ MB

In [25]:
df2_copy = df.copy()

In [29]:
# removing non numeric characters
df['Price'] = df['Price'].str.replace('$','')
df['Price'] = df['Price'].str.replace(',','')
df['Price'] = df['Price'].str.replace('.','')

In [30]:
df['Price'] = pd.to_numeric(df['Price'])
df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,01/01/1919,Spain,Cava,1919 Brut Selecció,88,1300,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,01/01/1929,Italy,Vernaccia di San Gimignano,NaN,87,1400,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,01/01/1929,Italy,Sangiovese di Romagna Superiore,Prugneto,84,1500,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,01/01/1934,Portugal,NaN,Reserva Velho,93,49500,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,01/01/1945,France,Rivesaltes,Legend Vintage,95,35000,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

In [32]:
# display states on the distribution of the price of wines
df['Price'].describe()

count     23375.000000
mean       3546.708021
std        4083.522016
min         400.000000
25%        1700.000000
50%        2500.000000
75%        4200.000000
max      250000.000000
Name: Price, dtype: float64

In [87]:

# creating seperate dataframes for each table in The Wine Mart database

DimGeography_df = pd.DataFrame([df['Country'].unique(), df['Province'].unique(), df['County'].unique()])
DimGeography_df = DimGeography_df.T
DimGeography_df.columns=['Country', 'County', 'Province']
DimGeography_df

          Country                County                             Province
0           Spain             Catalonia                                 Cava
1           Italy               Tuscany           Vernaccia di San Gimignano
2        Portugal         Central Italy      Sangiovese di Romagna Superiore
3          France               Colares                                  NaN
4              US  Languedoc-Roussillon                           Rivesaltes
5         Austria                  Port                        Sonoma Valley
6         Germany     Moscatel do Douro                            Champagne
7    South Africa            California                        Sonoma County
8         Hungary             Champagne                             Carneros
9       Australia               Kamptal                      Anderson Valley
10         Canada                Oregon                               Oregon
11         Israel                 Mosel                                Rioja
12          Chile        Northern Spain         Vin Santo del Chianti Rufina
13    New Zealand          Stellenbosch               Brunello di Montalcino
14        Lebanon         Central Spain                              Almansa
15        Romania            Washington                           California
16         Greece                Tokaji                        Yakima Valley
17      Argentina               Levante                          Napa Valley
18       Slovenia       South Australia                     Chianti Classico
19        Croatia              Piedmont                             Valencia
20       Bulgaria               Ontario                            Padthaway
21        Moldova                Veneto                             Piedmont
22         Brazil              Burgundy                           Rutherford
23        Uruguay              New York                    Niagara Peninsula
24      Macedonia              Lombardy                         Green Valley
25        Georgia               Shomron                    Santa Ynez Valley
26         Turkey          Rhône Valley  Amarone della Valpolicella Classico
27         Mexico        Coastal Region                              Chablis
28           Peru      Colchagua Valley                  Stags Leap District
29         Serbia                 Paarl                         Finger Lakes
..            ...                   ...                                  ...
877          None                  None                  Sierra de Salamanca
878          None                  None                        Bergerac Rosé
879          None                  None                             Alpilles
880          None                  None                Santa Margarita Ranch
881          None                  None                         Wrattonbully
882          None                  None                        Elkton Oregon
883          None                  None                Collines Rhôdaniennes
884          None                  None                     Beamsville Bench
885          None                  None                       Central Valley
886          None                  None                       Mâcon-Cruzille
887          None                  None                          Mâcon-Loché
888          None                  None                        Ile de Beauté
889          None                  None                       Anjou Villages
890          None                  None              Vin de Pays de Vaucluse
891          None                  None                             Muscadet
892          None                  None                    Texas High Plains
893          None                  None                            Marcillac
894          None                  None                        Mâcon Solutré
895          None                  None           Côtes de Provence La Londe
896          None                  None            Barco Reale di Carmignano
897          None                  None                                 Gard
898          None                  None                           Saint-Bris
899          None                  None                       Ventura County
900          None                  None                               Sonoma
901          None                  None                           Atlantique
902          None                  None                   Bardolino Classico
903          None                  None                        Rosé de Loire
904          None                  None                     California Other
905          None                  None                         Buenos Aires
906          None                  None                                Jerez

[907 rows x 3 columns]

In [82]:
DimVariety_df = pd.DataFrame([df['Variety'].unique()])
DimVariety_df = DimVariety_df.T
DimVariety_df.columns=['Variety']
DimVariety_df

                               Variety
0                      Sparkling Blend
1                            Vernaccia
2                           Sangiovese
3                              Ramisco
4                            Red Blend
5                                 Port
6                             Moscatel
7                   Cabernet Sauvignon
8                      Champagne Blend
9                             Riesling
10                         White Blend
11                          Chardonnay
12                   Tempranillo Blend
13                              Tokaji
14                              Shiraz
15                         Vidal Blanc
16                          Pinot Noir
17       Corvina, Rondinella, Molinara
18                           Zinfandel
19                              Merlot
20                               Syrah
21            Bordeaux-style Red Blend
22               Rhône-style Red Blend
23                         Tempranillo
24                        Chenin Blanc
25                         Pinot Blanc
26                           Alvarinho
27                            Pinotage
28          Bordeaux-style White Blend
29                      Cabernet Franc
..                                 ...
420                             Rufete
421            Viognier-Gewürztraminer
422                            Elbling
423            Viognier-Grenache Blanc
424         Chardonnay-Sauvignon Blanc
425                             Jampal
426                        Tinta Miúda
427                           Alicante
428               Ugni Blanc-Colombard
429                             Sirica
430                             Robola
431                              Gamza
432                       Sciaccerellu
433  Cabernet Franc-Cabernet Sauvignon
434                       Listán Negro
435                  Códega do Larinho
436                            Narince
437                       Fer Servadou
438              Tannat-Cabernet Franc
439                        Centesimino
440                         Tsolikouri
441                    Loureiro-Arinto
442                 Roussanne-Marsanne
443                            Diamond
444              Malagouzia-Chardonnay
445                   Pinot-Chardonnay
446                      Grenache Noir
447                  Maria Gomes-Bical
448                           Marselan
449                             Sherry

[450 rows x 1 columns]

In [88]:
DimWinery_df = pd.DataFrame([df['Winery'].unique()])
DimWinery_df = DimWinery_df.T
DimWinery_df.columns=['Winery']
DimWinery_df

                             Winery
0                           L'Arboc
1                        Guidi 1929
2           Poderi dal Nespoli 1929
3                 Adega Viuva Gomes
4                   Gérard Bertrand
5                         Burmester
6                           Messias
7                            Barros
8                             Kopke
9                  Adega de Favaios
10                         Niepoort
11                       Sebastiani
12          Heidsieck & Co Monopole
13                   Moët & Chandon
14                       Iron Horse
15                    Gloria Ferrer
16                     Pacific Echo
17                        Kirchmayr
18                         Rex Hill
19             C. von Nell-Breuning
20                      Campo Viejo
21             Fattoria di Grignano
22                         Gan Eden
23                    De Saint Gall
24                         Drappier
25                         Soutiran
26                    Poggio Antico
27                          Handley
28                    La Rioja Alta
29                       Middelvlei
...                             ...
9007                       Greyrock
9008                      Bortomiol
9009                 Domaine Dragon
9010          Château des Bertrands
9011  Château Mission Saint Vincent
9012                    Clos Chapon
9013           Domaine Sainte Lucie
9014          Château des Bormettes
9015                    Corte Giara
9016                       Renegade
9017                 Corte Giacobbe
9018              Château l' Oiseau
9019               Château Malherbe
9020                  Lagar del Rey
9021                         Zanoli
9022                         Auburn
9023               Tapada de Villar
9024              Domaine Guillaman
9025              Viñedos Marchigüe
9026                    Principiano
9027                Château Trocard
9028                          Baily
9029        Les Collines du Bourdic
9030         Les Vignerons de Tavel
9031           Cave du Roi Dagobert
9032                Tenuta La Vigna
9033                       Belharra
9034             Bailli de Provence
9035               Château Pigoudet
9036                   Familie Zull

[9037 rows x 1 columns]

In [91]:
FactWine_df = pd.DataFrame([df['Title'], df['Points'], df['Price'], df['Vintage']])
FactWine_df = FactWine_df.T
FactWine_df.columns=['Title', 'Points', 'Price', 'Vintage']
FactWine_df

,Title,Points,Price,Vintage
0,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),88,1300,01/01/1919
1,Guidi 1929 2015 Vernaccia di San Gimignano,87,1400,01/01/1929
2,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,84,1500,01/01/1929
3,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,93,49500,01/01/1934
4,Gérard Bertrand 1945 Legend Vintage Red (Rives...,95,35000,01/01/1945
5,Burmester 1952 Colheita Tawny (Port),96,41500,01/01/1952
6,Messias 1963 Colheita Tawny (Port),96,40000,01/01/1963
7,Barros 1974 Colheita Tawny (Port),93,17500,01/01/1974
8,Kopke 1978 Colheita Tawny (Port),94,10000,01/01/1978
9,Adega de Favaios 1980 Moscatel do Douro,93,13700,01/01/1980
10,Niepoort 1984 Colheita (Port),94,10000,01/01/1984
11,Sebastiani 1987 Cherryblock Cabernet Sauvignon...,89,17000,01/01/1987
12,Heidsieck & Co Monopole 1989 Diamant Bleu (Cha...,91,7000,01/01/1989
13,Burmester 1989 Colheita Tawny (Port),93,4700,01/01/1989
14,Moët & Chandon 1990 Dom Pérignon Rosé (Champagne),90,29000,01/01/1990
15,Iron Horse 1991 Brut L.D. (Sonoma County),93,6000,01/01/1991
16,Gloria Ferrer 1992 Royal Cuvee Brut (Carneros),88,2200,01/01/1992
17,Pacific Echo 1992 Private Reserve Brut (Anders...,91,3200,01/01/1992
18,Kirchmayr 1992 Solist Riesling (Kamptal),92,7500,01/01/1992
19,Rex Hill 1993 Oregon,86,2400,01/01/1993
20,C. von Nell-Breuning 1994 Kaseler Dominikanerb...,90,2600,01/01/1994
21,Campo Viejo 1994 Gran Reserva (Rioja),88,2500,01/01/1994
22,Fattoria di Grignano 1994 Riserva (Vin Santo d...,93,14000,01/01/1994
23,Gan Eden 1994 Chardonnay (Sonoma County),82,1300,01/01/1994
24,De Saint Gall 1995 Premier Cru Blanc de Blancs...,89,4800,01/01/1995
25,Drappier 1995 Grand Cru Millésimé Blanc de Bla...,91,NaN,01/01/1995
26,Soutiran 1995 Grande Cru Brut (Champagne),90,6000,01/01/1995
27,Poggio Antico 1995 Riserva (Brunello di Montal...,84,5600,01/01/1995
28,Pacific Echo 1995 Blanc de Blancs (Anderson Va...,89,2700,01/01/1995
29,Iron Horse 1995 Russian Cuvée (Sonoma County),89,2600,01/01/1995
...,...,...,...,...
24967,Les Collines du Bourdic 2016 Éclat de Gris Ros...,87,1100,01/01/2016
24968,Les Vignerons de Tavel 2016 Les Lauzeraies (Ta...,89,1500,01/01/2016
24969,Bennett Lane 2016 Maximus White Feasting Wine ...,90,3600,01/01/2016
24970,Starmont 2016 Rosé of Pinot Noir (Carneros),92,1900,01/01/2016
24971,Leonard Kreusch 2016 Weinkellerei Kabinett Whi...,86,1300,01/01/2016
24972,Delaire Graff 2016 Cape Winemakers Guild Bangh...,93,NaN,01/01/2016
24973,Viña Chocalan 2016 Reserva Chardonnay (Maipo V...,84,1200,01/01/2016
24974,Secret Spot Wines 2016 Vale da Poupa Rosé (Douro),87,1000,01/01/2016
24975,Donkey & Goat 2016 The Gadabout White (Califor...,89,2000,01/01/2016
24976,Suavia 2016 Soave Classico,88,1500,01/01/2016
24977,Saracina 2016 Sauvignon Blanc (Mendocino County),91,2300,01/01/2016
24978,Hosmer 2016 Estate Winery Pinot Gris (Cayuga L...,86,1600,01/01/2016
24979,Domaine de la Mordorée 2016 La Dame Rousse (Ta...,91,2600,01/01/2016
24980,C R Graybehl 2016 Grenache Rosé (Sonoma Valley),90,2200,01/01/2016
24981,Cave du Roi Dagobert 2016 Découverte Riesling ...,88,1800,01/01/2016
24982,Viña Casablanca 2016 Nimbus Single Vineyard Sa...,87,1500,01/01/2016
24983,Tenuta La Vigna 2016 Vernaccia di San Gimignano,87,1500,01/01/2016
24984,Belharra 2016 Las Madres Vineyards Rosé of Syr...,90,2300,01/01/2016
24985,Thörle 2016 Feinherb Riesling (Rheinhessen),91,2200,01/01/2016
24986,Bailli de Provence 2016 Rosé (Côtes de Provence),85,1500,01/01/2016
24987,Château Pigoudet 2016 Pigoudet Première Rosé (...,86,1300,01/01/2016
24988,Estandon 2016 Terres de Saint-Louis Rosé (Cote...,85,1100,01/01/2016
24989,DFJ Vinhos 2016 Aluado Alicante Bouschet (Lisboa),89,1500,01/01/2016
24990,Wölffer 2016 Summer in a Bottle Rosé (Long Isl...,90,2400,01/01/2016
24991,Les Vins Bréban 2016 Alivetto Rosé (Ile de Bea...,87,1600,01/01/2016
24992,Familie Zull 2016 Lust & Laune Rosé (Niederöst...,88,1500,01/01/2016
24993,Jäger 2016 Vorder Seiber Federspiel Grüner Vel...,90,2500,01/01/2016
24994,Zonin NV Cuvèe 1821 Brut (Prosecco),86,1500,1/1/1821
24995,Osborne NV Pedro Ximenez 1827 Sweet Sherry She...,94,1400,1/1/1827
24996,Codorníu NV Reserva Cuvée Barcelona 1872 Spark...,85,NaN,1/1/1872

# Load into Database

In [120]:
# connect to the database and  retrieve cleaned data
conn = sqlite3.connect("./the_wine_mart.sqlite")

c = conn.cursor()

In [121]:
# load dataframes into respective database table
# 'if_exists' is set to 'replace' for now but would be different if its a weekly update.
DimGeography_df.to_sql('DimGeography', conn, if_exists='replace')
DimVariety_df.to_sql('DimVariety', conn, if_exists='replace')
DimWinery_df.to_sql('DimWinery', conn, if_exists='replace')
FactWine_df.to_sql('FactWine', conn, if_exists='replace')

In [122]:
# check the tables in the database
conn.execute("select name from sqlite_master where type='table';").fetchall()

[('DimGeography',), ('DimVariety',), ('DimWinery',), ('FactWine',)]

In [123]:
# retrieve the data from the tables
test1 = pd.DataFrame(conn.execute('''SELECT * FROM DimGeography''').fetchall())
test2 = pd.DataFrame(conn.execute('''SELECT * FROM DimVariety''').fetchall())
test3 = pd.DataFrame(conn.execute('''SELECT * FROM DimWinery''').fetchall())
test4 = pd.DataFrame(conn.execute('''SELECT * FROM FactWine''').fetchall())

In [124]:
test1.head()

   0         1                     2                                3
0  0     Spain             Catalonia                             Cava
1  1     Italy               Tuscany       Vernaccia di San Gimignano
2  2  Portugal         Central Italy  Sangiovese di Romagna Superiore
3  3    France               Colares                             None
4  4        US  Languedoc-Roussillon                       Rivesaltes

In [125]:
test2.head()

   0                1
0  0  Sparkling Blend
1  1        Vernaccia
2  2       Sangiovese
3  3          Ramisco
4  4        Red Blend

In [126]:
test3.head()

   0                        1
0  0                  L'Arboc
1  1               Guidi 1929
2  2  Poderi dal Nespoli 1929
3  3        Adega Viuva Gomes
4  4          Gérard Bertrand

In [127]:
test4.head()

,0,1,2,3,4
0,0,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),88,1300.0,01/01/1919
1,1,Guidi 1929 2015 Vernaccia di San Gimignano,87,1400.0,01/01/1929
2,2,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,84,1500.0,01/01/1929
3,3,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,93,49500.0,01/01/1934
4,4,Gérard Bertrand 1945 Legend Vintage Red (Rives...,95,35000.0,01/01/1945

In [128]:
conn.close()